<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet. Non voluptatem omnis sed Quis eaque et maiores suscipit eos sunt voluptatem eum animi rerum qui dolorem rerum. Ea veritatis voluptate ut ducimus dolore ut impedit tempore et tempore ipsam vel galisum alias.
        </p>
        <p>Ut dolorem recusandae aut dolor itaque quo recusandae laborum. Et sunt voluptatem sit nihil autem ab galisum dicta. Rem vitae vero et labore voluptatem aut laboriosam voluptas aut sunt eveniet vel veritatis odio id eius quidem sit modi suscipit. Qui similique numquam in odio magni At iusto delectus est voluptatem facere aut maxime vitae At quia delectus ut excepturi consequuntur.
        </p>   
        <p>Et voluptates ratione et culpa numquam eos cumque saepe qui molestias internos. Qui tenetur placeat ea velit voluptatem sit nostrum voluptas ut soluta unde qui quia assumenda. Eos itaque sint ut tempore numquam hic illo voluptatum et molestiae numquam ut nobis enim ea optio quaerat ut quia cupiditate. A culpa omnis in debitis dolorum ut exercitationem officiis.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
